<div *ngIf="genre" class="row">
  <div class="col-3 border-bottom border-left border-dark py-2">
    {{ genre.libel }}
  </div>
  <div *ngIf="me.role !== 'ADMIN'" class="col-7 border-bottom border-left border-right border-dark py-2">
    <div *ngFor='let book of genre.books'>{{ book.title }}</div>
  </div>
  <div *ngIf="me.role == 'ADMIN'" class="col-7 border-bottom border-left border-dark py-2">
    <div *ngFor='let book of genre.books'>{{ book.title }}</div>
  </div>
  <div *ngIf="me.role == 'ADMIN'" class="col-2 border-bottom border-left border-right border-dark py-2">
    <div class="row">
      <div class="col-6 text-center">
        <a routerLink={{genre.id}}>
          <button class="edit my-2">
            <i class="fas fa-edit"></i>
          </button>
        </a>
      </div>
      <div class="col-6 text-center">
        <button class="delete my-2" (click)="deleteGenre(genre.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
