<div class="container">
  <div class="row">
    <div class="col-6">
      <h2><i class="fas fa-star pr-1"></i>Genres</h2>
    </div>
    <div class="col-6 text-right">
      <a *ngIf="me.role == 'ADMIN'" [routerLink]="['create']" ><button class="btn add">Ajouter un genre</button></a>
    </div>
    <div class="col-12">
      <app-genre-list [me]="me" [genres]="genres"></app-genre-list>
    </div>
  </div>
</div>
