<div class="row py-2">
  <div class="col-12">
    <div class="row text-center font-weight-bold">
      <div class="col-4 border-top border-bottom border-left border-dark back-primary">
        Titre
      </div>
      <div class="col-3 border-top border-bottom border-left border-dark back-primary">
        Auteur
      </div>
      <div *ngIf="me.role !=='VISITOR'" class="col-3 border-top border-bottom border-left border-dark back-primary">
        Genre
      </div>
      <div *ngIf="me.role =='VISITOR'" class="col-3 border-top border-bottom border-left border-right border-dark back-primary">
        Genre
      </div>
      <div *ngIf="me.role !=='VISITOR'" class="col-2 border-top border-bottom  border-left border-right border-dark back-primary">
        Action
      </div>
    </div>
    <app-book-item *ngFor='let book of books' [book]="book" [me]="me" (bookHasDeleted)="bookHasDeleted($event)"></app-book-item>
  </div>
</div>
