<div class="container py-2">
  <div class="row justify-content-between">
    <div class="col-md-4 col-10 text-left">
      <a routerLink=".">
        <h1 class="mb-0"> <i class="fas flaticon-book pr-2"></i> Bibliotech</h1>
      </a>
    </div>
    <div
      class="col-lg-6 col-md-6 col-12 order-last text-md-right text-center d-flex align-items-end justify-content-end">
      <a routerLink="books" class="px-2"><i class="fas fa-book pr-1"></i>Livres</a>
      <a routerLink="authors" class="px-2"><i class="fas fa-user-graduate pr-1"></i>Auteurs</a>
      <a routerLink="genres" class="px-2"><i class="fas fa-star pr-1"></i>Genres</a>
      <a *ngIf="me && me.role == 'ADMIN'" routerLink="users" class="px-2">
        <i class="fas fa-users pr-1"></i>Utilisateurs</a>
    </div>
    <div class="col-xl-1 col-lg-2 col-2 d-flex align-items-end order-md-last text-right justify-content-end">
      <a *ngIf="!me" routerLink="auth" class="px-2">
        <i class="fas fa-sign-in-alt"></i>
      </a>
      <a *ngIf="me" routerLink="dashboard" class="px-2"><i class="fas fa-address-book pr-1"></i></a>
      <button *ngIf="me" (click)="logout()" class="px-2"><i class="fas fa-power-off"></i></button>
    </div>
  </div>
</div>
