<div class="row">
  <div *ngIf="user" class="col-12">
    <h3>{{user.lastName}} {{user.firstName}}</h3>
  </div>
  <div *ngIf="!user" class="col-12">
    <h3>Rentrer un nouveau utilisateur</h3>
  </div>
  <div class="col-lg-3 col-md-6 col-12 form-group">
    <label for="title">Nom</label>
    <input type="text" class="form-control" [(ngModel)]="lastName">
  </div>
  <div class="col-lg-3 col-md-6 col-12 form-group">
    <label for="title">Prénom</label>
    <input type="text" class="form-control" [(ngModel)]="firstName">
  </div>
  <div class="col-lg-3 col-md-6 col-12 form-group">
    <label for="title">Email</label>
    <input type="text" class="form-control" [(ngModel)]="email">
  </div>
  <div class="col-lg-3 col-md-6 col-12 form-group">
    <label for="title">Rôle</label>
    <select name="role" class="form-control" [(ngModel)]="role">
      <option  [value]="ADMIN" [selected]="role == ADMIN">ADMIN</option>
      <option  [value]="USER" [selected]="role == USER">USER</option>
    </select>
  </div>
  <div class="col-12 text-right">
    <button (click)="submit()" class="btn add">Enregistrer</button>
  </div>
</div>
