

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Se connecter</h2>
    </div>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="login()">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" formControlName="email" />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" formControlName="password" type="password" />
        </div>
      </div>
      <div class="col-12 text-right">
        <button class="btn add">
          Login
        </button>
      </div>
    </div>
  </form>
</div>
