<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Création d'un livre</h2>
    </div>
    <div class="col-12">
      <app-book-form></app-book-form>
    </div>
  </div>
</div>
