<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Edition de l'auteur</h2>
    </div>
    <div class="col-12">
      <app-user-form *ngIf="user" [user]="user"></app-user-form>
    </div>
  </div>
</div>
