<div class="row py-2">
  <div class="col-12 border-dark">
    <div class="row text-center font-weight-bold">
      <div class="col-3 border-left border-top border-dark back-primary">
        Nom
      </div>
      <div class="col-7 border-left border-top border-dark back-primary">
        Livres
      </div>
      <div *ngIf="me.role == 'ADMIN'" class="col-2 border-left border-top border-right border-dark back-primary">
        Action
      </div>
    </div>
    <app-genre-item *ngFor='let genre of genres' [genre]="genre" [me]="me" (genreHasDeleted)="genreHasDeleted($event)"></app-genre-item>
  </div>
</div>
