<div *ngIf="book && me && alreadyBorrow" class="row border-dark">
  <div class="col-4 border-bottom border-left border-dark d-flex align-items-center py-2">
    {{ book.title }}
  </div>
  <div class="col-3 border-bottom border-left border-dark d-flex align-items-center py-2">
    {{ book.author.lastName }} {{ book.author.firstName }}
  </div>
  <div *ngIf="me.role !=='VISITOR'" class="col-3 border-bottom border-left border-dark d-flex align-items-center py-2">
    {{ book.genre.libel }}
  </div>
  <div *ngIf="me.role =='VISITOR'" class="col-3 border-bottom border-left border-right border-dark d-flex align-items-center py-2">
    {{ book.genre.libel }}
  </div>
  <div *ngIf="me.role !=='VISITOR'" class="col-2 border-bottom border-left border-right border-dark">
    <div class="row justify-content-center">
      <div *ngIf="me.role == 'USER' && alreadyBorrow == 'notBorrow'" class="col-12 text-center">
        <button class="add my-2" (click)="borrowBook()">
          <i class="far fa-caret-square-right"></i>
        </button>
      </div>
      <div *ngIf="me.role == 'USER' && alreadyBorrow == 'borrow'" class="col-12 text-center color-red font-weight-bold py-2">
        Indisponible
      </div>
      <div *ngIf="me.role == 'USER' && alreadyBorrow == 'borrowByMe'" class="col-12 text-center color-green font-weight-bold py-2">
        Emprunté
      </div>
      <div *ngIf="me.role == 'ADMIN'" class="col-6 text-center">
        <a routerLink={{book.id}}>
          <button class="edit my-2">
            <i class="fas fa-edit"></i>
          </button>
        </a>
      </div>
      <div *ngIf="me.role == 'ADMIN'" class="col-6 text-center">
        <button class="delete my-2" (click)="deleteBook()">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
