<div class="row">
  <div *ngIf="book" class="col-12">
    <h3>{{book.lastName}}</h3>
  </div>
  <div *ngIf="!book" class="col-12">
    <h3>Rentrer un nouveau livre</h3>
  </div>
  <div class="col-md-4 col-12 form-group">
    <label for="title">Titre</label>
    <input type="text" class="form-control" [(ngModel)]="title">
  </div>
  <div class="col-md-4 col-12 form-group">
    <label for="author">Auteur</label>
    <select name="author_id" class="form-control" [(ngModel)]="authorId">
      <option *ngFor="let authorSelect of authors"
      [value]="authorSelect.id"
      [selected]="author_id == authorSelect.id">
      {{authorSelect.lastName}} {{authorSelect.firstName}}</option>
    </select>
  </div>
  <div class="col-md-4 col-12 form-group">
    <label for="genre">Genre</label>
    <select name="genre_id" class="form-control" [(ngModel)]="genreId">
      <option *ngFor="let genreSelect of genres"
      [value]="genreSelect.id"
      [selected]="genre_id == genreSelect.id">{{genreSelect.libel}}</option>
    </select>
  </div>
  <div class="col-12 text-right">
    <button (click)="submit()" class="btn add">Enregistrer</button>
  </div>
</div>
