<div class="row">
  <div *ngIf="author" class="col-12">
    <h3>{{author.lastName}} {{author.firstName}}</h3>
  </div>
  <div *ngIf="!author" class="col-12">
    <h3>Rentrer un nouveau auteur</h3>
  </div>
  <div class="col-md-4 col-12 form-group">
    <label for="title">Nom</label>
    <input type="text" class="form-control" [(ngModel)]="lastName">
  </div>
  <div class="col-md-4 col-12 form-group">
    <label for="title">Prénom</label>
    <input type="text" class="form-control" [(ngModel)]="firstName">
  </div>
  <div class="col-12 text-right">
    <button (click)="submit()" class="btn add">Enregistrer</button>
  </div>
</div>
