<div class="row">
  <div *ngIf="genre" class="col-12">
    <h3>{{genre.libel}}</h3>
  </div>
  <div *ngIf="!genre" class="col-12">
    <h3>Rentrer un nouveau genre</h3>
  </div>
  <div class="col-md-4 col-12 form-group">
    <label for="title">Nom</label>
    <input type="text" class="form-control" [(ngModel)]="libel">
  </div>
  <div class="col-12 text-right">
    <button (click)="submit()" class="btn add">Enregistrer</button>
  </div>
</div>
