@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?4c38f7b1807e4cc67a5d40a5c72961d3") format("truetype"),
    url("./flaticon.woff?4c38f7b1807e4cc67a5d40a5c72961d3") format("woff"),
    url("./flaticon.woff2?4c38f7b1807e4cc67a5d40a5c72961d3") format("woff2"),
    url("./flaticon.eot?4c38f7b1807e4cc67a5d40a5c72961d3#iefix") format("embedded-opentype"),
    url("./flaticon.svg?4c38f7b1807e4cc67a5d40a5c72961d3#flaticon") format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-book:before {
  content: "\f101";
}

.flaticon-book-1:before {
  content: "\f102";
}

.flaticon-open-book:before {
  content: "\f103";
}

.flaticon-book-2:before {
  content: "\f104";
}
