<div class="row py-2">
  <div class="col-12">
    <div class="row text-center font-weight-bold">
      <div class="col-3 border-top border-bottom border-left border-dark back-primary">
        Nom
      </div>
      <div class="col-3 border-top border-bottom border-left border-dark back-primary">
        Prénom
      </div>
      <div class="col-4 border-top border-bottom border-left border-dark back-primary">
        Livres
      </div>
      <div class="col-2 border-top border-bottom border-left border-right border-dark back-primary">
        Action
      </div>
    </div>
    <app-user-item *ngFor='let user of users' [user]="user" (userHasDeleted)="userHasDeleted($event)"></app-user-item>
  </div>
</div>
