<div class="container">
  <div class="row">
    <div class="col-6">
      <h2><i class="fas fa-book pr-1"></i>Livres</h2>
    </div>
    <div class="col-6 text-right">
      <a *ngIf="me.role == 'ADMIN'" [routerLink]="['create']" ><button class="btn add">Ajouter un livre</button></a>
    </div>
    <div class="col-12">
      <app-book-list [books]="books" [me]='me'></app-book-list>
    </div>
  </div>
</div>
