<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 *ngIf="me">Tableau de bord de {{ me.lastName }} {{ me.firstName }}</h1>
    </div>
    <div class="col-12">
      <app-borrow-list [me]="me"></app-borrow-list>
    </div>
  </div>
</div>
