<div *ngIf="borrow && me && me.id == borrow.user_id" class="row border-bottom border-dark">
  <div class="col-4 border-left border-dark d-flex align-items-center">{{ borrow.book.title }}</div>
  <div class="col-4 border-left border-dark d-flex align-items-center">{{ borrow.user.firstName }} {{ borrow.user.lastName }}</div>
  <!-- A valider -->
  <div *ngIf="type == 'toValid'" class="col-4 border-left border-right border-dark text-center">
    <button class="edit my-2" (click)="validBorrow()">
      <i class="fas fa-check"></i>
    </button>
  </div>
  <!-- Emprunté -->
  <div *ngIf="type == 'ok' && me.role=='ADMIN'" class="col-3 border-left border-dark text-center py-2">{{ date }}</div>
  <div *ngIf="type == 'ok' && me.role=='ADMIN'" class="col-1 border-left border-right border-dark text-center">
    <button class="edit my-2" (click)="returnBorrow()">
      <i class="fas fa-check"></i>
    </button>
  </div>
  <div *ngIf="type == 'ok' && me.role=='USER'" class="col-4 border-left border-right border-dark text-center py-2">{{ date }}</div>
  <!-- En retard -->
  <div *ngIf="type == 'late' && me.role=='ADMIN'" class="col-3 border-left border-dark font-weight-bold text-center color-red py-2">{{ date }}</div>
  <div *ngIf="type == 'late' && me.role=='ADMIN'" class="col-1 border-left border-right border-dark text-center">
    <button class="delete my-2" (click)="returnBorrow()">
      <i class="fas fa-check"></i>
    </button>
  </div>
  <div *ngIf="type == 'late' && me.role=='USER'" class="col-4 text-center border-left border-right border-dark font-weight-bold color-red py-2">{{ date }}</div>
  <!-- Retourné -->
  <div *ngIf="type == 'return'" class="col-4 text-center border-left border-right border-dark py-2">{{ date }}</div>

</div>
