<div class="row border-dark">
  <div class="col-3 border-left border-bottom border-dark d-flex align-items-center">
    {{ user.lastName }}
  </div>
  <div class="col-3 border-left border-bottom border-dark d-flex align-items-center">
    {{ user.firstName }}
  </div>
  <div  class="col-4 border-left border-bottom border-dark d-flex align-items-center">
    <div>{{ user.role }}</div>
  </div>
  <div class="col-2 border-left border-right border-bottom border-dark">
    <div class="row">
      <div class="col-6 text-center">
        <a routerLink={{user.id}}>
          <button class="edit my-2">
            <i class="fas fa-edit"></i>
          </button>
        </a>
      </div>
      <div class="col-6 text-center">
        <button class="delete my-2" (click)="deleteUser(user.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
