<header class="back-primary fixed-top">
  <app-header></app-header>
</header>
<router-outlet class="py-2"></router-outlet>
<footer class="back-primary fixed-bottom">
  <app-footer></app-footer>
</footer>
