<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Création d'un auteur</h2>
    </div>
    <div class="col-12">
      <app-author-form></app-author-form>
    </div>
  </div>
</div>
