<div class="row border-dark">
  <div class="col-3 border-left border-bottom border-dark py-2">
    {{ author.lastName }}
  </div>
  <div class="col-3 border-left border-bottom border-dark py-2">
    {{ author.firstName }}
  </div>
  <div *ngIf="me.role !== 'ADMIN'" class="col-4 border-left border-right border-bottom border-dark py-2">
    <div *ngFor='let book of author.books'>{{ book.title }}</div>
  </div>
  <div *ngIf="me.role == 'ADMIN'" class="col-4 border-left border-bottom border-dark py-2">
    <div *ngFor='let book of author.books'>{{ book.title }}</div>
  </div>
  <div *ngIf="me.role == 'ADMIN'" class="col-2 border-left border-right border-bottom border-dark">
    <div class="row">
      <div class="col-6 text-center">
        <a routerLink={{author.id}}>
          <button class="edit my-2">
            <i class="fas fa-edit"></i>
          </button>
        </a>
      </div>
      <div class="col-6 text-center">
        <button class="delete my-2" (click)="deleteAuthor(author.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
