<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Création d'un utilisateur</h2>
    </div>
    <div class="col-12">
      <app-user-form></app-user-form>
    </div>
  </div>
</div>
