<div>
  <div class="row border-top border-bottom border-dark font-weight-bold back-primary">
    <div class="col-4 border-left border-dark">
      Titre
    </div>
    <div class="col-4 border-left border-dark">
      Adhérent
    </div>
    <div class="col-4 border-left border-right border-dark">
      Action
    </div>
  </div>
  <app-borrow-item *ngFor='let borrow of borrowsToValid' [borrow]="borrow" [type]="type" (refresh)="refreshList($event)"></app-borrow-item>
</div>
