<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Edition du genre</h2>
    </div>
    <div class="col-12">
      <app-genre-form *ngIf="genre" [genre]="genre"></app-genre-form>
    </div>
  </div>
</div>
