<div>
  <div class="row border-top border-bottom border-dark font-weight-bold back-primary">
    <div class="col-4 border-left border-dark">
      Titre
    </div>
    <div class="col-4 border-left border-dark">
      Adhérent
    </div>
    <div class="col-4 border-left border-right border-dark">
      Date de rendu
    </div>
  </div>
  <app-borrow-item *ngFor='let borrow of borrowsReturn' [borrow]="borrow" [type]="type" [me]="me" (refreshList)="refresh($event)"></app-borrow-item>
</div>
