<div class="container">
  <div class="row">
    <div class="col-6">
      <h2><i class="fas fa-user-graduate pr-1"></i>Auteurs</h2>
    </div>
    <div class="col-6 text-right">
      <a *ngIf="me.role == 'ADMIN'" [routerLink]="['create']" ><button class="btn add">Ajouter un auteur</button></a>
    </div>
    <div class="col-12">
      <app-author-list [me]="me" [authors]="authors"></app-author-list>
    </div>
  </div>
</div>
