<div class="row py-2">
  <div class="col-12">
    <div class="row text-center font-weight-bold">
      <div class="col-3 border-top border-bottom border-left border-dark back-primary">
        Nom
      </div>
      <div class="col-3 border-top border-bottom border-left border-dark back-primary">
        Prénom
      </div>
      <div class="col-4 border-top border-bottom border-left border-dark back-primary">
        Livres
      </div>
      <div *ngIf="me.role == 'ADMIN'" class="col-2 border-top border-bottom border-left border-right border-dark back-primary">
        Action
      </div>
    </div>
    <app-author-item *ngFor='let author of authors' [author]="author" [me]="me" (authorHasDeleted)="authorHasDeleted($event)"></app-author-item>
  </div>
</div>
