<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Création d'un genre</h2>
    </div>
    <div class="col-12">
      <app-genre-form></app-genre-form>
    </div>
  </div>
</div>
