<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Edition de l'auteur</h2>
    </div>
    <div class="col-12">
      <app-author-form *ngIf="author" [author]="author"></app-author-form>
    </div>
  </div>
</div>
