<div class="container">
  <div class="row">
    <div class="col-6">
      <h2><i class="fas fa-user-graduate pr-1"></i>Utilisateurs</h2>
    </div>
    <div class="col-6 text-right">
      <a [routerLink]="['create']" ><button class="btn add">Ajouter un Utilisateur</button></a>
    </div>
    <div class="col-12">
      <app-user-list></app-user-list>
    </div>
  </div>
</div>
