/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf")
}

body {
  min-height: 100vh;
  font-family: 'Montserrat';
  background-color: #F5F5F5;
  padding-top: 85px;
  padding-bottom: 45px;
}

h1{
  font-weight: 600;
}

.color-primary {
  color: #357ab7 !important;
}

.back-primary {
  background-color: #357ab7;
  color: #F5F5F5 !important;
}

.color-secondary {
  color: #32AFCF  !important;
}

.back-secondary {
  background-color: #32AFCF;
  color: #F5F5F5 !important;
}

button.add{
  color:#fcfcfc;
  background-color: #357ab7;
  border: #357ab7 solid 2px;
  border-radius: 25px;
  text-decoration: none;
}
button.add:hover{
  color:#357ab7;
  background-color: #fcfcfc;
  animation-duration: 250ms;
  text-decoration: none;
}
button.edit{
  color:#fcfcfc;
  background-color: green;
  border: green solid 2px;
  border-radius: 25px;
  text-decoration: none;
}
button.edit:hover{
  color:green;
  background-color: #fcfcfc;
  animation-duration: 250ms;
  text-decoration: none;
}
button.delete{
  color:#fcfcfc;
  background-color: red;
  border: red solid 2px;
  border-radius: 25px;
  text-decoration: none;
}
button.delete:hover{
  color:red;
  background-color: #fcfcfc;
  animation-duration: 250ms;
  text-decoration: none;
}
button.borrow{
  color:#fcfcfc;
  background-color: red;
  border: red solid 2px;
  border-radius: 25px;
  text-decoration: none;
  cursor: not-allowed;
}

.color-red{
  color:red !important;
}
.color-green{
  color: green !important;
}

