<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Edition du livre</h2>
    </div>
    <div class="col-12">
      <app-book-form *ngIf="book" [book]="book"></app-book-form>
    </div>
  </div>
</div>
