<div *ngIf="me.role == 'ADMIN'" class="row">
  <div class="col-12 py-2">
    <h2>Livres à valider</h2>
    <app-borrow-tovalid *ngIf="borrowsToValid.length > 0" [borrowsToValid]="borrowsToValid" (refresh)="refreshList($event)"></app-borrow-tovalid>
    <div *ngIf="borrowsToValid.length == 0">Pas de livre à valider</div>
  </div>
  <div class="col-12 py-2">
    <h2>Livres empruntés</h2>
    <app-borrow-ok *ngIf="borrowsOK.length > 0" [borrowsOK]="borrowsOK" (refresh)="refreshList($event)" [me]="me"></app-borrow-ok>
    <div *ngIf="borrowsOK.length == 0">Pas de livre emprunté</div>
  </div>
  <div class="col-12 py-2">
    <h2>Livres en retard</h2>
    <app-borrow-late *ngIf="borrowsLate.length > 0" [borrowsLate]="borrowsLate" (refresh)="refreshList($event)" [me]="me"></app-borrow-late>
    <div *ngIf="borrowsLate.length == 0">Pas de livre en retard</div>
  </div>
  <div class="col-12 py-2">
    <h2>Livres rendus</h2>
    <app-borrow-return *ngIf="borrowsReturn.length > 0" [borrowsReturn]="borrowsReturn" [me]="me"></app-borrow-return>
    <div *ngIf="borrowsReturn.length == 0">Pas de livre rendu</div>
  </div>
</div>

<div *ngIf="me.role == 'USER'" class="row">
  <div class="col-12 py-2">
    <h2>Livres empruntés</h2>
    <app-borrow-ok [borrowsOK]="borrowsOK" [me]="me"></app-borrow-ok>
  </div>
  <div class="col-12 py-2">
    <h2>Livres en retard</h2>
    <app-borrow-late [borrowsLate]="borrowsLate" [me]="me"></app-borrow-late>
  </div>
  <div class="col-12 py-2">
    <h2>Livres rendus</h2>
    <app-borrow-return *ngIf="borrowsReturn.length > 0" [borrowsReturn]="borrowsReturn" [me]="me"></app-borrow-return>
    <div *ngIf="borrowsReturn.length == 0">Pas de livre rendu</div>
  </div>
</div>

