<div class="container">
  <div class="row">
    <div class="col-2 text-right">
      <i class="fas flaticon-book fa-5x"></i>
    </div>
    <div class="col-8 text-center pt-3 pb-5">
      <h1> Bienvenue à la bibliothèque</h1>
    </div>
    <div class="col-2 text-left">
      <i class="fas flaticon-book fa-5x"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Les livres rajoutés ce mois-ci</h2>
      <ul *ngIf="newBooks">
        <li *ngFor='let book of newBooks'>{{ book.title }} ( {{ book.author.firstName }} {{ book.author.lastName }} )</li>
      </ul>
    </div>
  </div>
</div>
